@media (max-width: 1400px) {
  .titulo {
    display: flex;
    width: 700px;
    height: 500px;
  }
  .titulo h1 {
    font-size: 95px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .container-decoration {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .container-iluminacion {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .container-muebles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .space1 {
    display: flex;
    align-items: center;
  }
  .header {
    display: flex;
  }
  .header img {
    display: none;
  }
}
@media (max-width: 810px) {
  .titulo {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
  }
  .titulo h1 {
    font-size: 95px;
  }
  .container {
    display: none;
  }
}
