@media (max-width: 1400px) {
  .titulo {
    display: flex;
    width: 700px;
    height: 500px;
  }
  .titulo h1 {
    font-size: 95px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .container-decoration {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .container-iluminacion {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .container-muebles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .nav__list {
    gap: 35px;
  }
}
@media (max-width: 992px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .space1 {
    display: flex;
    align-items: center;
  }
  .header {
    display: flex;
  }
  .header img {
    display: flex;
  }
  .bars-menu {
    display: none;
  }
}

@media (max-width: 810px) {
  .titulo {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
  }
  .hero-title2 {
    width: 350px;
  }
  .titulo h1 {
    font-size: 95px;
  }
  .container {
    display: none;
  }
  header {
    gap: 20px;
  }
  .nav__link {
    gap: 15px;
  }
}
@media (max-width: 576px) {
  .info {
    background: none;
    width: 100%;
    height: auto;
    margin: 0%;
  }
  .bars-menu {
    display: flex;
  }
  .navbar ul {
    background: rgb(32, 30, 30);
    width: 80%;
    height: calc(80vh - 75px);
    position: absolute;
    top: 75px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translatex(200%);
    -webkit-transform: translatex(200%);
    transition: all 0.5s ease;
    -moz-transform: translatex(200%);
    -ms-transform: translatex(200%);
    -o-transform: translatex(200%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }

  .navbar i {
    display: block;
  }
  #toggle-menu:checked ~ .nav__list {
    transform: translateX(70px);
    -webkit-transform: translateX(70px);
    -moz-transform: translateX(70px);
    -ms-transform: translateX(70px);
    -o-transform: translateX(70px);
  }
}
