:root {
  /*texto colores*/
  --text-white: #f3f4f6;
  --tex-black: #000308;
  --nav-bar: #231942;
  /*fuentes*/
  --text-font: @import
    url("https://fonts.googleapis.com/css2? family= Open+Sans:wght@800 & display=swap");
  --text-title: @import
    url("https://fonts.googleapis.com/css2? family= Open+Sans:wght@800 & display=swap");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 200px;
  height: 75px;
  background-color: #354f52;
  position: fixed;
  z-index: 3;
  /* background: #bdc3c7; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header img {
  width: 80px;
  height: 80px;
}

.nav__link {
  display: flex;
  align-items: center;
  gap: 80px;
  color: white;
  font-size: 15px;
  font-style: oblique;
}
.nav__link--active {
  color: antiquewhite;
}

.nav__register {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--text-white);
}
.nav__register li a {
  color: var(--text-white);
  font-size: 20px;
}

.cart-icon {
  display: flex;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  cursor: pointer;
}
#cart-toggle {
  display: none;
}
/*                           HERO                 */
.hero {
  display: grid;
  justify-content: end;
  position: relative;
  height: 1050px;
}
.card-present {
  display: grid;
  position: absolute;
  z-index: 2;
  height: 450px;
  width: 700px;
  top: 150px;
  left: 200px;
  color: var(--tex-black);
  text-align: center;
  font-size: 150%;
}
.hero img {
  display: flex;
  position: absolute;
  width: 100%;
  height: 1000px;
  z-index: 1;
  object-fit: cover;
  filter: contrast(100%);
  -webkit-filter: contrast(100%);
  border-bottom: 1px solid black;
}
.container {
  display: flex;
  position: relative;
  width: 0;
  height: 0;
  right: -0px;
  border-right: 0px solid transparent;
  border-left: 999px solid transparent;
  border-top: 999px solid #354f52;
  z-index: 2;
}

.hero__title {
  display: grid;
  position: relative;
  top: -800px;
  right: 100px;
  justify-content: end;
}

.hero__title h1 {
  display: grid;
  font-size: 500%;
  color: var(--text-white);
  z-index: 3;
}
.hero-title2 {
  display: grid;
  position: relative;
  justify-content: center;
  width: 500px;
  height: 50px;
  top: -690px;
  left: 380px;
  overflow: hidden;
  z-index: 2;
}
.hero-title2 ul {
  display: grid;
  width: 90px;
  height: 90px;
  color: var(--text-white);
  gap: 31px;
  text-align: center;
  z-index: 3;
}
.hero-title2 {
  display: grid;
  font-size: 300%;
}

/*-----------------------------INFO--------------------*/
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info h3 {
  font-size: 300%;
  color: gray;
}

.info p {
  font-size: 200%;
  color: gray;
  width: 1200px;
  text-align: center;
}
/*--------------------------------------CARDS-------------------------------*/
.cards {
  background-image: url(./imagenes/fondo-web/diseno-entrada-casa.jpg);
  padding-top: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.card1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 350px;
  height: 350px;
  backdrop-filter: blur(30px);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
}

.card2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 350px;
  height: 350px;
  backdrop-filter: blur(30px);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}
.card3 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 350px;
  height: 350px;
  backdrop-filter: blur(30px);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}
.card1:hover {
  border: 1px solid black;
  transform: scale(1.05);
}
.card2:hover {
  border: 1px solid black;
  transform: scale(1.05);
}
.card3:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card1,
.card2,
.card3,
h3 {
  font-family: var(--text-font);
  font-size: 35px;
  margin: 0 0 30px;
  color: var(--tex-black);
  text-transform: lowercase;
}
.card1,
.card2,
.card3,
h3:first-letter {
  text-transform: uppercase;
}
.card1,
.card2,
.card3,
p {
  text-align: center;
  color: var(--tex-black);
  font-size: 20px;
}
/*--------------------------------PRODUCTOS------------------------*/
.product {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product h3 {
  display: flex;
  font-size: 50px;
}
.lista1 {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.categorias {
  display: flex;
  justify-content: center;
  gap: 30px;
}
button {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #1f2937;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #354f52;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 14em;
  height: 14em;
}

button:active {
  transform: scale(0.97);
}
/*---------------------------------Decoracion-iluminacion-muebles---------------------------------------------------*/
.decoration,
.iluminacion,
.muebles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.decoration p,
.iluminacion p,
.muebles p {
  font-size: 50px;
}
.container-decoration,
.container-iluminacion,
.container-muebles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.2fr));
  justify-content: center;
}
.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-card img {
  width: 250px;
  height: 300px;
}
.cuotas {
  display: flex;
  border: 1px solid black;
  padding: 5px;
}
.agregar a {
  display: inline-block;
  border-radius: 4px;
  background-color: gray;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 210px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
/*------------------------------------categoria alfombras---------------*/
